node_modules
build
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# IDE
.idea
.env
.DS_Store
.vscode
dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Ignition deployments
/ignition/deployments